#stage {position: relative; width: 250px; height: 500px; border: 3px solid; background: #333}
.block {width: 23px; height:23px; border: 1px solid #000; float: left;}
.none {background: #333}
#handle {position: absolute; top:0; left:0}
.whiteLine {margin:1px; border:none}
.type1 {background: yellow}
.type2 {background: purple}
.type3 {background: skyblue}
.type4 {background: orange}
.type5 {background: blue}
.type6 {background: green}
.type7 {background: red}
